<ion-header [translucent]="true">
  <ion-toolbar class="uno">
    <ion-buttons slot="start">
      <ion-back-button color="light" default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">
      RegistrApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Notas</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar class="uno">
  </ion-toolbar>
</ion-footer>