<ion-header [translucent]="true">
  <ion-toolbar class="uno">
    <ion-title color="light">
      RegistrApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<br>

<ion-content [fullscreen]="true">  
  <ion-list>
     <!--Usuario-->
  <ion-item>
    <ion-avatar slot="start">
      <img alt="User" src="https://w7.pngwing.com/pngs/81/570/png-transparent-profile-logo-computer-icons-user-user-blue-heroes-logo.png" />
    </ion-avatar>
    <ion-input label="Usuario" placeholder="Ingresa tu nombre de usuario" labelPlacement="floating" [(ngModel)]="data.user"  ></ion-input>
  </ion-item>

  <!--Contraseña-->
  <ion-item>
    <ion-avatar slot="start">
      <img alt="Password" src="https://w7.pngwing.com/pngs/708/705/png-transparent-password-manager-password-safe-android-blue-electric-blue-advanced-encryption-standard-thumbnail.png" />
    </ion-avatar>
    <ion-input type="password" label="Contraseña" placeholder="Ingresa tu contraseña" labelPlacement="floating" [(ngModel)]="data.password" > 
      <!--<ion-input-password-toggle slot="end"></ion-input-password-toggle>-->     
    </ion-input>
  </ion-item>

  </ion-list> 

  <!--Botón que redirige a recuperar contraseña-->
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button color="primary" [routerLink]="['/recuperar']"> ¿Olvidaste tu contraseña? </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <br><br>
  <!--Botón para ingresar credenciales y que redirige a Inicio-->
  <ion-button style="--color:white;" color="primary" (click)="enviarInicio()" [routerLink]="['/inicio']">Ingresar</ion-button>
  

  
</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar class="uno">
  </ion-toolbar>
</ion-footer>
