<ion-header [translucent]="true">
  <ion-toolbar class="uno">
    <ion-buttons slot="start">
      <ion-back-button color="light" default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">
      RegistrApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registro</ion-title>
    </ion-toolbar>
  </ion-header>

  <img alt="Registro" src="https://cdsassets.apple.com/live/7WUAS350/images/ios/locale/es-mx/ios-17-iphone-15-pro-camera-scan-qr-code.png" />

</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar class="uno">
  </ion-toolbar>
</ion-footer>